<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('css/main.css') }}
</head>
<body>
  @loggedIn
    {{auth.user.username}}
    <p> <a href="/logout">Click here</a> to logout </p>
  @else
  <p> <a href="/login">Click here</a> to login </p>
  @endloggedIn

  @section('content')

  @endsection
  {{ script('/js/main.js') }}
</body>
</html>
